.app-nav__container {
  margin-bottom: 2rem;
}

.app-nav__link {
  overflow: hidden;
  border-radius: 3px;
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: dodgerblue;
  cursor: pointer;
}

.app-nav__link--active {
  background-color: dodgerblue;
  color: white;
}
