/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f5f5f5;
}

pre {
  padding: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.05) inset;
  border-radius: 3px;
  border: 1px solid #ddd;
  background-color: #f5f2f0;
  font-family: 'Roboto Mono', monospace;
  font-size: 13px;
}

@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
